.checkout {
  display: flex;
  padding: 10px;
  background-color: white;
  height: 50%;
}

.checkout__ad {
  width: 1100px;
  height: 200px;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
